/*-- scss:defaults --*/

// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;
$dark-gray: #5A5856;
$burnt-orange: #ad7237;
$white: #ffffff;

// Base document colors
$navbar-bg: $white; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
//$body-bg: $light-green; // page background 
$body-color: $gray; // page text 
$footer-bg: $light-green; // footer 
$link-color: $purple; // hyperlinks 

// Code blocks
$code-block-bg: $cream;

// image styling
.img-styling {
  border-radius: 2%;
  border: 2px solid $cream;
  display: block;
  margin-left: auto;
  margin-right: auto;
 //width: 80%;
}

// resize logo (top left corner) see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 30px;
  width: auto;
}

// listing card styling
.card {
  background-color: $cream;
  //border-radius: 5.25em;
}

// btn styling
.btn {
  color: $dark-green;
  background-color: $cream; //$light-sage-green;
  border-color: $white;
}

// button hover styling
.btn:hover {
  color: $cream;
  background-color: $purple;
  border-color: $dark-gray;
}

/* CLASS SELECTORS (copied from inspecting site -- Quarto defined?) */

// resize logo (top left corner) see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 60px;
  width: auto;
}

// Inline code
$code-bg: $cream;
$code-color: $burnt-orange; //$purple; 

// Code blocks
$code-block-bg: $cream;